---
import InputText 
	from"../components/InputText.astro";
import RadioButtonGroup from "../components/RadioButtonGroup.astro";
import FormLayout 
	from "../layouts/FormLayout.astro";
import Select 
	from "../components/Select.astro";
import ButtonSend 
	from "../components/ButtonSend.astro";
---
<FormLayout>
	<h2 class="subtitulo" slot="subtitulo">Ingrese información</h2>
	<InputText 
	etiqueta="Nombre Completo"
	slot="caja-texto-nombre"/>
	<InputText
		etiqueta="Apellido Completo"
		slot="caja-texto-apellido"
	/>
	<InputText
		etiqueta="Correo Electronico"
		slot="caja-texto-email"
	/>
	<RadioButtonGroup
		etiqueta="Seleccione tipo documento:"
		slot="grupo-radio"
	/>
	<InputText
		etiqueta="Ingrese número de documento"
		slot="caja-texto-numero-documento"
	/>
	<ButtonSend
		etiqueta="Enviar"
		slot="boton-envio"
	/>
</FormLayout>
<style>
    .subtitulo{
        font-weight: 300;
		font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
		color: #000000;
		margin:20px;
    }
</style>