---
    interface Props {
        etiqueta: string;
    }

    const etiqueta = Astro.props.etiqueta;
---
<button class="boton-envio">
    {etiqueta}
</button>
<style>
    .boton-envio{

        background-color: black;
        color:white;
        width: 100px;
        height: 40px;
        border-top-right-radius: 10px;
        border-radius: 10px;
    }
</style>