---
//Definimos las propiedades que pueden recibir el componente
    interface Props {
        etiqueta: string;
    }

    //crear una variable para recibir la etiqueta
    //Astro.props = a los valores desde el control
    const etiqueta = Astro.props.etiqueta;

---

<!--
Etiqueta input:
se utiliza para los siguientes controles:
- campo de texto
- password
- checkbox
- radio button
- boton de envio
ES ETIQUETA CERRADA
-->
<label>{ etiqueta }</label>
<input type="text" />
<style>
    /*solo se puede poner aqui sintaxis css
    estilos para el input text
    selector de etiqueta:
    estilos aplicables a toda etiqueta  señalada por el selector */
input[type="text"]{
        background-color:rgb(124, 175, 252);
        width: 400px;
        height: 20px;
        border-color:rgb(30, 6, 250);
        border-width: 2px;
        border-style:groove;
        border-radius: 5px;

    }
</style>