---
// div: etiqueta abierta tiene elementos dentro
// permiteespecificar propiedades
//Definimos las propiedades que pueden recibir el componente
    interface Props {
        etiqueta: string;
    }

    //crear una variable para recibir la etiqueta
    //Astro.props = a los valores desde el control
    const etiqueta = Astro.props.etiqueta;
---
<label>{etiqueta}</label>
<div>
    <div id="cedula">
        <input
            type="radio"
            name="rbg"
            id="radio1"
    /> 
    <strong>CC</strong>
</div>
<br/>
<div id="tarjeta">
    <input
            type="radio"
            name="rbg"
            id="radio2"
    /> 
    <strong>TI </strong>
</div>
<br/>
<div id="extrangeria">
        <input
        type="radio"
        name="rbg"
        id="radio3"
    />
    <strong>CE</strong>
</div>

</div>
<style>
#cedula{
    background-color: rgb(179, 127, 228);
    display: inline;
}
#tarjeta{
    background-color: rgb(144, 195, 241);
    display: inline;
}
#extrangeria{
    background-color: rgb(129, 211, 200);
    display: inline;
}
</style>