---
// div: etiqueta abierta tiene elementos dentro
// permiteespecificar propiedades
//Definimos las propiedades que pueden recibir el componente
    interface Props {
        etiqueta: string;
    }

    //crear una variable para recibir la etiqueta
    //Astro.props = a los valores desde el control
    const etiqueta = Astro.props.etiqueta;
---

<label>{etiqueta}</label>
<div class="rgb">
    <div id="cedula">
        <input class="radio-bnt"
            type="radio"
            name="rbg"
            id="radio1"
    /> 
    CC
</div>
<div id="tarjeta">
    <input class="radio-bnt"
            type="radio"
            name="rbg"
            id="radio2"
    /> 
    TI
</div>

<div  id="extrangeria">
        <input class="radio-bnt"
        type="radio"
        name="rbg"
        id="radio3"
    />
    CE
</div>

</div>
<style>
    .rgb{
        background-color: rgb(255, 255, 255);
        border-color: black;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        margin:10px 0px 10px 20px;
        width: 88%;
    }

    #cedula .radio-bnt{
        display:inline-block;
        width: 10px;
        height: 10px;
    }
    #cedula{
        font-family: Arial, Helvetica, sans-serif;
        margin:20px 10px;
    }

    #tarjeta .radio-bnt{
        display:inline-block;
        width: 10px;
        height: 10px;
    }
    #tarjeta{
        font-family: Arial, Helvetica, sans-serif;
        margin:20px 10px;
    }
    #extrangeria .radio-bnt{
        display:inline-block;
        width: 10px;
        height: 10px;
    }
      #extrangeria{
        font-family: Arial, Helvetica, sans-serif;
        margin:20px 10px;
    }

</style>