---
// div: etiqueta abierta tiene elementos dentro
// permiteespecificar propiedades
//Definimos las propiedades que pueden recibir el componente
    interface Props {
        etiqueta: string;
    }

    //crear una variable para recibir la etiqueta
    //Astro.props = a los valores desde el control
    const etiqueta = Astro.props.etiqueta;
---
<label>{etiqueta}</label>
<div>
    <input
            type="radio"
            name="rbg"
            id="radio1"
    /> CC
        <input
            type="radio"
            name="rbg"
            id="radio1"
    /> TI
        <input
            type="radio"
            name="rbg"
            id="radio1"
    /> CE
</div>