---
    interface Props {
        etiqueta: string;
    }

    const etiqueta = Astro.props.etiqueta;
---
<label>{etiqueta}</label>
<select>
    <option id="cali">Cali</option>
    <option id="bogota">Bogota</option>
    <option>Medellin</option>
    <option>Cartagena</option>
</select>
<style>
#bogota{
    color:red
}
#cali{
    color:blue
}
select{
    border:2px green dotted;
}
</style>