.form{
        display:block;
        background-color: rgb(241, 237, 237);
        width: 400px;
        border:2px solid black;
        margin:20px auto;
        border-radius: 10px;
        box-shadow: 5px 5px 2px 0px rgb(219, 216, 216);
}
.titulo{
    background-color: beige;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600px;
    margin-bottom: 50px;
}
.boton-envio{
    display: inline;
    margin-left: 270px;
    margin-bottom: 20px;
    margin-top: 20px
} 